<div class="center"><h2>A Propos</h2></div>
<div style="padding-left: 10px;">
    <h4>Ce site a été réalisé par André Esteves, Philippe Marques, Arthur Perringaux et Max Tobelem avec le Framework AngularJS.<br><br>
        Cette plateforme a pour but d'avoir une vision des prix immobilier en France.<br><br>
        Cette application pourrait être utilisée par les agences immobilières ou encore pour les particuliers à la recherche d'un bien immobilier.<br><br>
        L'onglet Carte possède une carte des départements francais avec un dégradé de couleur selon la valeur de l'immobilier au m<SUP>2</SUP>. Cette carte à été modélisée avec Leaflet.<br><br>
        L'onglet Graphique permet d'avoir accès aux informations selon le departement choisi grâce au filtre de selection du département.  Ce graphique à été modélisé avec PlotlyJS.</h4>
</div>